.footer__link {
    margin: 0;
    display: flex;
    justify-content: row;
    align-items: center;
    margin-right: 200px;
    margin-left: 80px;
}

@media screen and (max-width: 1500px) {
    .footer__link {
        margin-right: 50px;
    }  
}

@media screen and (max-width: 1390px) {
    .footer__link {
        margin-right: 10px;
        margin-left: 20px;
    }  
}

@media screen and (max-width: 450px) {
    .footer__link {
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 0px;
     margin-right: 0px;
    }
 }