.sliderContainer {
   display: grid;
   grid-template-columns: 1fr;
   width: 770px;
   margin-top: 30px;
   padding-right: 30px;
}

@media screen and (max-width: 1340px) {

   .sliderContainer {
    display: flex;
    flex-direction: column;
   width: 500px;
   margin-top: 30px;
   padding-right: 30px;
   }
}

@media screen and (max-width: 580px) {

   .sliderContainer {
   width: 340px;
   }
}

@media screen and (max-width: 450px) {
   .sliderContainer {
      width: 300px;
      margin-left: 10px;
      padding-right: 0px;
   }  
}