.intro__punkts {
    list-style-type: '-   ';
    color: rgb(0, 0, 0);
font-family: 'Lato';
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 5px;
}

@media screen and (max-width: 780px) {
    .intro__punkts {
      font-size: 15px;
    }
}